<div class="grid-container">
    <div class="logo footer-logo">
        <h2>ShortURL</h2>
        <span class="wclose-nav"><i class="fa fa-spinner" aria-hidden="true"></i></span>
    </div>
    <nav class="links-column links-column1">
        <ul>
            <h3>Links</h3>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
    <nav class="links-column links-column2">
        <ul>
            <h3>Help</h3>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Affiliate Program</a></li>
        </ul>
    </nav>
    <div class="email-subscription">
        <h3>Contact Us</h3>
        <form>
            <input type="email" placeholder="Enter your email">
            <button type="submit">Subscribe</button>
        </form>
    </div>
</div>